// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$almost-white: #fafafa;
$light-grey: #adadad;
$medium-grey: #686868;
$black: #151515;
$color-1: #726CEE;
$color-2: #4BB1DA;
$color-3: #EDD556;
$color-4: #8E4CB6;
$pure-white: #ffffff;
