// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$almost-white: #fafafa;
$light-grey: #adadad;
$medium-grey: #686868;
$black: #151515;
$color-1: #726cee;
$color-2: #4bb1da;
$color-3: #edd556;
$color-4: #8e4cb6;
$pure-white: #ffffff;
