@use "./../01-abstracts/" as *;

body {
  background-color: $pure-white;
}

html {
  position: relative;
}

button, a, summary {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $black;
  }
}

button, a {
  &:active {
    position: relative;
    top: 2px;
  }
}
