@use "./../01-abstracts/" as *;

.main {
  margin: 24px auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
  max-width: calc(1145px + 16px);
  @include breakpoint($lg) {
    margin-top: 67px;
    padding: 0 16px 130px;
    flex-direction: row-reverse;
  }

  &__container {
    margin: 48px 16px;
    text-align: center;
    max-width: 540px;
    @include breakpoint($lg) {
      text-align: left;
      margin: 0;
      align-self: flex-end;
    }
  }

  &__img {
    max-width: 480px;
  }

  &__title {
    color: $black;
    font-size: rem(36px);
    line-height: 1.17;
    letter-spacing: rem(-0.5px);
    font-weight: 700;
    margin-bottom: 16px;
    @include breakpoint($lg) {
      font-size: rem(80px);
      line-height: 1;
      letter-spacing: -1.11111px;
      padding-right: 10px;
      margin-bottom: 48px;
    }
  }

  &__text {
    font-size: rem(16px);
    line-height: 1.62;
    margin-bottom: 24px;
    max-width: 445px;
    @include breakpoint($lg) {
      font-size: rem(18px);
      line-height: 1.56;
      margin-bottom: 51px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: rem(16px);
    line-height: 1.62;
    letter-spacing: rem(-0.222222px);
    color: $almost-white;
    background-color: $black;
    border: solid 1px $black;
    border-radius: 15px;
    width: 136px;
    height: 48px;
    margin-bottom: 48px;
    &:hover {
      background-color: transparent;
      color: $black;
    }
    @include breakpoint($lg) {
      margin-bottom: 108px;
      width: 163px;
      height: 56px;
    }
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    gap: 28.5px;
  }
}
