@use "./../01-abstracts/" as *;

@mixin no-preset {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #{$black}BF;
  transition: 0.15s ease-in;
  transform: translateY(-100%);
  &--open {
    transform: translateX(0);
  }

  @include breakpoint($md-lg) {
    position: static;
    transform: none;
    background: none;
  }

  &__container {
    background-color: $pure-white;
    height: 100%;
    margin-left: calc(100% - 240px);
    padding: 22px 21px 21px 24px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    transition: 0.3s ease-in;
    transform: translateX(100%);
    &--open {
      transform: translateX(0);
    }
    @include breakpoint($md-lg) {
      transform: none;
      padding: 0;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__close {
    align-self: flex-end;
    @include no-preset;
    @include breakpoint($md-lg) {
      display: none;
    }
  }

  &__nav {
    @include breakpoint($md-lg) {
      display: flex;
      align-items: center;
      font-size: rem(14px);
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 16px;
    line-height: 1.62;
    color: $medium-grey;
    @include breakpoint($md-lg) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__accordion {
    @include no-preset;
    color: $medium-grey;
    position: relative;

    &[open] .menu__accordion-sum {
      &::after {
        content: url("../images/icon-arrow-up.svg");
      }
    }
  }

  &__accordion-sum {
    &::marker {
      content: none;
    }
    &::after {
      content: url("../images/icon-arrow-down.svg");
      margin-left: 17px;
      vertical-align: middle;
      position: relative;
      bottom: 2px;
      @include breakpoint($md-lg) {
        margin-left: 9px;
      }
    }
  }

  &__accordion-ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 24px 8px;
    @include breakpoint($md-lg) {
      padding: 24px;
      margin: 20px 0 0;
      position: absolute;
      background: $pure-white;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
      border-radius: 10px;
      right: -5px;
      width: max-content;
    }
  }

  &__accordion-img {
    width: 20px;
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: rem(14px);
    line-height: 1.14;
    @include breakpoint($md-lg) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__login {
    @include no-preset;
    color: $medium-grey;
  }

  &__register {
    @include no-preset;
    color: $medium-grey;
    border: 1.5px solid;
    border-color: inherit;
    border-radius: 14px;
    padding: 13px;
    min-width: 104px;
    line-height: 1;
  }
}
